@charset "utf-8";
body {
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: 0.7px;
	color: #999;
	height: 40px;
	padding: 0px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	letter-spacing: 3px;
}

li {
  float: left;
}

li a {
	display: block;
	color:#666;
	text-align: center;
	text-decoration: none;
	padding-top: 7px;
	padding-right: 23px;
	padding-bottom: 7px;
	padding-left: 23px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #0000;
}
#logonav {
	background-color: #FFF;
	height: 60px;
	padding-top: 5px;
	padding-right: 15%;
	padding-bottom: 5px;
	padding-left: 10%;
	border-bottom-width: thin;
}
.cartcolor {
	background-color: #FFF;
	border: thin solid #CCC;
	height: 25px;
	width: 75px;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}
#navibar #navigationmenu ul li {
	display: block;
	padding: 0px;
	margin: 0px;
}


#navibar {
	height: 30px;
	padding-left: 10%;
	padding-right: 15%;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #E1E1E1;
	padding-top: 5px;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #E1E1E1;
	width: 100%;
}
#navibar #collapsenavi {
	width: 10%;
	padding-top: 5px;
	float: left;
}
#navibar #search {
	width: 10%;
	padding-top: 5px;
	float: left;
	text-align: right;
}



#logonav #lang {
	height: 50px;
	width: 10%;
	float: left;
	padding-top: 15px;
	text-align: left;
	vertical-align: middle;
}
#logonav #logodiv {
	float: left;
	width: 70%;
	height: 50px;
	padding-top: 10px;
	text-align: center;
}
#navibar #navigationmenu {
	width: 70%;
	float: left;
	padding-top: 0px;
}

.bordertxt {
	font-family: Arial, Helvetica, sans-serif;
	padding: 2px;
	border-top-color: #666;
	border-right-color: #666;
	border-bottom-color: #666;
	border-left-color: #666;
}
#logonav #cartdiv {
	width: 10%;
	padding-top: 10px;
	float: left;
	height: 50px;
	text-align: right;
	vertical-align: middle;
}

@media (min-width: 1025px) {

	#mainbodycont #productgallery {
		height: auto;
		width: 45%;
		float: left;
		padding-left: 10%;
		padding-top: 15px;
	}
	#mainbodycont #descriptiondiv {
		float: left;
		width: 34%;
		padding-left: 20px;
		padding-top: 10px;
	}

	.gallery-image{
		height: 500px;
		width: auto;
	    background-size: 100%;
	    background-repeat: no-repeat;
	    background-position: center;
	}
	.LargeImage {
		max-height: 500px;
		width: 100%;
		height: auto;
	}	

	.scroll-container {
		margin-top:6px;
		position: relative;
		height: 130px;
	}


}

@media (max-width: 1024px) {

	#mainbodycont #productgallery {
		height: auto;
		width: 100%;
		padding: 2%;
		padding-top: 15px;
	}

	#mainbodycont #descriptiondiv {
		height: auto;
		width: 100%;
		padding-left: 20px;
		padding-top: 10px;

	}

	.gallery-image{
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center;
	}

	.LargeImage {
		height: auto;
		width: 935px;
	}

	.scroll-container {
		position: relative;
		height: 200px;
		margin-top:6px;
	}

}

#mainbodycont #productgallery #mainimage {
	background-color: #DFDFDF;
	max-height: 400px;
	height:auto;
}

.gallerythumbnail {
	height: 80px;
	width: 23%;
	margin : auto;
	padding : 1px 3px 0px 0px;
	background-color: #DFDFDF;
	display: inline-block;
}

#mainbodycont #descriptiondiv #DescText {
	height: auto;
}
.descheader {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #666;
}
.descprice {
	font-family: Georgia;
	font-size: 24px;
	color: #1E5EAC;
}
.lighttext {
	color: #09F;
}
.descsub {
	height: 100px;
	width: 120px;
	float: left;
	margin-right: 30px;
}
.dropbox {
	background-color: #CCC;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#contain {
	height: 100px;
	float: left;
}
.addtocart-enabled {
	height: 30px;
	width: 120px;
	font-weight: bold;
	color: #FFF;
	background-color: #333;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.addtocart-disabled {
	height: 30px;
	width: 120px;
	font-weight: normal;
	color: #FFF;
	background-color: #CCC;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.addtowish {
	height: 30px;
	width: 150px;
	font-weight: bold;
	background-color: #FFF;
	margin-left: 40px;
	border: thin solid #CCC;
}

.already-in-wishlist {
	height: 30px;
	width: 150px;
	font-weight: bold;
	background-color: #CE2038;
	margin-left: 40px;
	color: #FFF;
	border: thin solid #CCC;
}

.ThumbnailsContainer {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;	
}
.clear {
	clear:both;
}
.ThumbnailImage {
	width:100%;
	cursor:pointer;
	flex: 0 0 auto;
}

.scroller {

	z-index: 10;
	height: 30px;
	width: 30px;
	cursor: pointer;
}

.scroll-left {
	position: absolute;
	top: 0px;
	left:0px;	
}

.scroll-right {
	position: absolute;
	top: 0px;
	right:0px;
}

.long-description-container {
	margin: 15px 4px 3px 0px;
}

.bulleted-description-container {
	margin: 15px 4px 3px 0px;
}

.form-container {
	margin: 15px 4px 3px 0px;
}

.rating-box {
	font-size: 16px;
	background-color: #FFF;
	float: left;
	margin-right: 10px;
}

.rating-box .checked{
	color: orange;
}

.review-count-text {
	font-weight: bolder;
	float: left;
}

.add-a-review {
	font-weight: 800;
	font-family: "Source Sans Pro", "Arial", sans-serif;
	text-decoration: underline;
	float: left;
	margin-left: 15px;
}